@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .bg-sticky-container {
    @apply fixed inset-0 -z-50 overflow-hidden bg-[#020202];
  }
  
  /* The "Atmosphere" layer - creates the glow effect before image loads */
  .bg-low-quality {
    @apply absolute inset-0 blur-[100px] scale-110 opacity-50;
    background: radial-gradient(circle at 50% 50%, #ffffff10 0%, transparent 70%);
  }
}

.liquidGlass{
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
filter: url(#glass-distortion);
overflow: hidden;
isolation: isolate;
}